.elements__texts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 25px 21px 31px;
    z-index: 100;
    background-color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
}