.header__logo {
    padding-top: 45px;
    width: 142px;
    display: flex;
    padding-bottom: 41px;
}

@media screen and (max-width: 525px) {
    .header__logo {
        width: 103.74px;
        height: 24.4px;
        padding: 28px 0 0 27px;
        padding-bottom: 31.6px;
    }
}