.popup__button-text {
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    margin: 14px auto 18px;
    padding: 0;
}

@media screen and (max-width: 465px) {
    .popup__button-text {
        margin-bottom: 14px;
        line-height: 17px;
        text-align: center;
    }
}