.profile__button {
    margin: 0;
    padding: 0;
    border: none;
    background: url(../../../images/Edit-Button.svg);
    width: 24px;
    height: 24px;
}

.profile__button:hover {
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.5s ease;
}

@media screen and (max-width: 835px){
    .profile__button {
        background: url(../../../images/Edit-Button-small.svg);
        width: 18px;
        height: 18px;
        margin-top: 6px;
    }
}