.elements__element {
    background-color: #fff;
    border-radius: 10px;
    width: 282px;
    height: 361px;
}

.elements__element:nth-of-type(1) {
    background-image: url(../../../images/elements/Dombai.jpg);
    z-index: 100;
    background-repeat: no-repeat;
}

.elements__element:nth-of-type(2) {
    background-image: url(../../../images/elements/Elbrus.jpg);
    z-index: 100;
    background-repeat: no-repeat;
}

.elements__element:nth-of-type(3) {
    background-image: url(../../../images/elements/karachaevsk.jpg);
    z-index: 100;
    background-repeat: no-repeat;
}

.elements__element:nth-of-type(4) {
    background-image: url(../../../images/elements/Dombai.jpg);
    z-index: 100;
    background-repeat: no-repeat;
}

.elements__element:nth-of-type(5) {
    background-image: url(../../../images/elements/Elbrus.jpg);
    z-index: 100;
    background-repeat: no-repeat;
}

.elements__element:nth-of-type(6) {
    background-image: url(../../../images/elements/karachaevsk.jpg);
    z-index: 100;
    background-repeat: no-repeat;
}

.elements__element:hover {
    cursor: zoom-out;
    transition: all 0.5s ease;
    transform: scale(90%);
    opacity: 0.6;
}