.popup__cross {
    position: absolute;
    top: 155px;
    left: 863px;
    z-index: 1;
    width: 32px;
    height: 32px;
}

.popup__cross:hover {
    opacity: 0.6;
    transition: all 0.5s ease;
    cursor: pointer;
}

@media screen and (max-width: 320px){
    .popup__cross {
        top: 87px;
        left: 281px;
        width: 20px;
        height: 20px;
    }
}