.popup__cross {
    position: absolute;
    top: -40px;
    right: -40px;
    z-index: 1;
    width: 32px;
    height: 32px;
}

.popup__cross:hover {
    opacity: 0.6;
    transition: all 0.5s ease;
    cursor: pointer;
}

@media screen and (max-width: 320px){
    .popup__cross {
        top: -36px;
        right: 0;
        width: 20px;
        height: 20px;
    }
}